
html, body {
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    font-family: Visby-semibold;
    font-weight: 400;
    scroll-behavior: smooth;
    background-color: #040910;
}

a {
    color: inherit;
    text-decoration: inherit;
}
/* ==================== */ 

#globalNav {
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    max-width: 2600px;
    padding: 45px 0;
    margin: auto;
    transition: 0.3s;
    top: 0;
    position: sticky;
    height: 20px;
    background-color: rgba(0,0,0,0);
    z-index: 10;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    font-style: bold;
    font-family: 'Gantari', sans-serif;
  }

#globalNav > div {
    margin: auto;
    max-width: 1700px;

}

#globalNavImg {
    height: 25px;
    opacity: 100%;
    transition: opacity 1.5s;
}

#globalNavLogo {
  float: left;
}

#globalNavImg:hover {
    opacity: 25%;
    transition: 5s;
    transition: opacity 1.5s;
}

#list-fade {
    opacity: 100%;
}

#list-fade:hover {
    opacity: 25%;
    transition: 5s;
    transition: opacity 1.5s;
}

#globalNavBtn  {
    background-color: #007aff;
    border-radius: 20px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0 15px;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
  }

  li:not(#globalNavLogo) {
    float: right;
  }
  
  li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 25px;
    cursor: pointer;
  }
  
  li a:hover:not(.active) {
    opacity: 0.7;
  }
  
  .active {
    opacity: 0.7;
  }


.float h2 {
    font-size: 96px;
    font-family: 'Gantari', sans-serif;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.float a {
    color: rgb(56,120,145);
}

.float h4 {
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 12%;
    font-size: 40px;
    font-family: 'Gantari', sans-serif;
  }

.float {
  position: absolute;
    width: 50%;
    float: left;
  left: 10%;
}

.float1 {
    width: 35%;
    float: right;
}

#right {
  position: absolute;
    width: 80%;
    height: auto;
    float: right;
    left: 85%;
}

.right {
  width: 80%;
  height: auto;
}

.float button {
    background-color: transparent;
    border: 2px solid #387891;
    color: white;
    padding: 16px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
    opacity: 100%;
    font-family: 'Gantari', sans-serif;
  }
  
  .float button:hover {background-color: rgb(56,120,145);}

  .page {
        position: absolute;
        top: 100%;
        height: 100%;
        background-color: rgb(20,20,20);
        width: 100%;
  }

  .page p {
      text-align: center;
      font-size: 18px;
      color: white;
      font-family: 'Gantari', sans-serif;
    }

  .page a {
    color: rgb(56,120,145);
  }

  .welcome {
    font-family: 'Gantari', sans-serif;
    color: rgb(56,120,145);
    font-size: 80px;
    margin-top: 5%;
  }

  .page h4 {
    font-family: 'Gantari', sans-serif;
    color: white;
    font-size: 40px;
    position: absolute;
    left: 10%;
    margin-top: 0;
    padding-top: 0;
  }

  .page h1 {
    font-family: 'Gantari', sans-serif;
    text-align: center;
  }

  .float-page {
    width: 40%;
    top: 35%;
    font-family: 'Gantari', sans-serif;
    position: absolute;
    left: 10%;
  }

  .float-page p {
    font-size: 28px;
    text-align: left;
  }

  .float-page1 {
    position: absolute;
    width: 20%;
    left: 65%;
    top: 35%;
    font-family: 'Gantari', sans-serif;
    text-align: center;
    height: 65%;
    border-radius: 20px;
    position: absolute;
  }

  .float-page1 p {
    font-family: 'Gantari', sans-serif;
    margin: 20px;
  }

  /* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
.line-1{
    position: relative;
    top: 20%;  
    width: 24em;
    margin-top: 25%;
    border-right: 1px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-25%);    
    padding: 0px;
}

.line-2{
  position: relative;
  top: 50%;  
  width: 24em;
  border-right: 1px solid rgba(255,255,255,0);
  font-size: 180%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-25%);    

}

#separate {
  width: 80%;
  margin-top: 10%;
}

.page2 h2 {  
  color: rgb(56,120,145);
  font-size: 80px;
}

.page2 {
  position: absolute;
  top: 100%;
  text-align: center;
  height: 100%;
  background-color: rgb(17, 17, 17);
}

.footer {
  position: absolute;
  top: 300%;
  width: 100%;
}

.footerText {
  color: rgb(180, 180, 180);
  font-size: 16px;  
  text-align: center;
  width: 100%;
}

.footerRule {
  height: 0.1px;
  background-color: white;
}

@keyframes fade{
  from{opacity: 0;}
  to{opacity: 1;}
}

.innerfloat {
  float: left;
  width: 60%;
  border: 2px solid red;
}

.innerfloat1 {
  float: left;
  margin-top: 0px;
  padding-top: 0px;
}

.float-page1 sup {
  color: rgb(56,120,145);
}

.page2 hr {
  width: 60%;
  color: black;
}

.page2 h6 {
  color: white;
  font-size: 16px;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 20px;
}

.linkToBlogs {
  color: rgb(56,120,145);
  border: 2px solid red;
}

#white {
  color: white;
}

@font-face {
  font-family: Visby-semibold;
  src: url(Fontspring-DEMO-visbycf-demibold.otf)
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.grid-item {
  min-width: 300px;
  border-radius: 5px;
  border: 1px solid rgb(56,120,145);
  min-height: 120px;
  text-align: left;
  margin: 1%;
}

.grid-item h5 {
  text-align: left;
  margin: 15px;
  font-size: 12px;
  font-family: Visby-semibold;
  font-weight: 400;

}

.grid-item h3 {
  text-align: center;
  font-size: 24px;
  background: rgb(56,120,145);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Gantari', sans-serif;
  font-weight: 500;
}

.page2 h1 {
  font-family: 'Gantari', sans-serif;
  font-weight: 500;
  font-size: 36px;
  background: -webkit-linear-gradient(30deg, rgb(168, 31, 150),rgb(15, 93, 211));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-item p {
  text-align: left;
  margin: auto;
  color: white;
  font-size: 14px;
  margin-left: 15px;
  font-family: 'Gantari', sans-serif;
  font-weight: 500;
}