html, body {
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    font-family: MundoSans, Helvetica, sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    background-color: #040910;
}

a {
    color: inherit;
    text-decoration: inherit;
}
/* ==================== */ 

#globalNav {
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    max-width: 2600px;
    padding: 45px 0;
    margin: auto;
    transition: 0.3s;
    top: 0;
    position: sticky;
    height: 20px;
    background-color: rgba(0,0,0,0);
    z-index: 10;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    font-style: bold;
    font-family: 'Roboto Flex', sans-serif;
}

#globalNav > div {
    margin: auto;
    max-width: 1700px;

}

#globalNavImg {
    height: 25px;
    opacity: 100%;
    transition: opacity 1.5s;
}

#globalNavLogo {
  animation: fade 1s steps(40) 6.4s 1 normal both;
  float: left;
}

#globalNavImg:hover {
    opacity: 25%;
    transition: 5s;
    transition: opacity 1.5s;
}

#list-fade {
    opacity: 100%;
    transition: opacity 1.5s;
    animation: fade 1s steps(40) 6.4s 1 normal both;
}

#list-fade:hover {
    opacity: 25%;
    transition: 5s;
    transition: opacity 1.5s;
}

#globalNavBtn  {
    background-color: #007aff;
    border-radius: 20px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0 15px;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
  }

  li:not(#globalNavLogo) {
    float: right;
  }
  
  li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 25px;
    cursor: pointer;
  }
  
  li a:hover:not(.active) {
    opacity: 0.7;
  }
  
  .active {
    opacity: 0.7;
  }


.float h2 {
    font-size: 96px;
    font-family: 'Roboto Flex', sans-serif;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.float a {
    color: rgb(56,120,145);
}

.float h4 {
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 12%;
    font-size: 40px;
    font-family: 'Roboto Flex', sans-serif;
}

.float {
    width: 50%;
    float: left;
    padding-left: 10%;
}

.float1 {
    width: 35%;
    float: right;
}

#right {
    width: 80%;
    height: auto;
    float: right;
    padding-right: 16%;
    padding-top: 1%;
}

.right {
  width: 80%;
  height: auto;
}

.float button {
    background-color: transparent;
    border: 2px solid #387891;
    color: white;
    padding: 16px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
    
  }
  
  .float button:hover {background-color: rgb(56,120,145);}

  .page {
        margin-top: 50%;
        margin-bottom: 20%;
  }

  .page p {
      text-align: center;
      font-size: 18px;
      color: white;
      font-family: 'Roboto Flex', sans-serif;
  }

  .page a {
    color: rgb(56,120,145);
  }

  .page h1 {
    font-family: 'Roboto Flex', sans-serif;    
    color: rgb(56,120,145);
    font-size: 80px;
    padding-left: 20%;
    padding-right: 5%;
  }

  .page h4 {
      font-family: 'Roboto Flex', sans-serif;    
      color: white;
      font-size: 40px;
      padding-left: 20%;
      padding-right: 5%;
  }

  .float-page {
    width: 50%;
    float: left;
    padding-top: 15%;
    margin-bottom: 15%;
  }

  .float-page1 {
    padding-top: 24%;
    width: 20%;
    float: right;
    padding-right: 10%;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-bottom: 0%;
  }

  .float-page1 p {
    font-family: 'Roboto', sans-serif;

  }

  /* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
.line-1{
    position: relative;
    top: 20%;  
    width: 24em;
    margin-top: 25%;
    border-right: 1px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-25%);    
    padding: 0px;
}

.line-2{
  position: relative;
  top: 50%;  
  width: 24em;
  border-right: 1px solid rgba(255,255,255,0);
  font-size: 180%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-25%);    

}

#separate {
  width: 80%;
  margin-top: 10%;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(40) 0.5s 1 normal both,
             blinkTextCursor 750ms steps(30) 4 normal both;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.anim-typewriter1{
  animation: typewriter1 2s steps(40) 3.5s 1 normal both,
             blinkTextCursor1 500ms steps(30) 3.5s infinite normal;
}
@keyframes typewriter1{
  from{width: 0;}
  to{width: 13.75em;}
}
@keyframes blinkTextCursor1{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.page2 h2 {
  font-family: 'Roboto Flex', sans-serif;    
  color: rgb(56,120,145);
  font-size: 80px;
}

.page2 {
  margin-top: 10%;
  text-align: center;
}

.page h5 {
  text-align: left;
  padding-top: 8px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 20%;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.page2 p {
  color: grey;
  text-align: left;
  padding-left: 20%;
  padding-bottom: 0px;
  font-family: 'Roboto Flex', sans-serif;  
  font-size: 16px;
}

.footerText {
  color: grey;
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;    
  text-align: center;
}

.footerRule {
  height: 0.1px;
  background-color: white;
}

.float button {
  opacity: 0;
}

@keyframes fade{
  from{opacity: 0;}
  to{opacity: 1;}
}

.fade-in{
  animation: fade 1s steps(40) 6.4s 1 normal both;
}


.innerfloat {
  float: left;
  width: 60%;
  border: 2px solid red;
}

.innerfloat1 {
  float: left;
  margin-top: 0px;
  padding-top: 0px;
}

.float-page1 sup {
  color: rgb(56,120,145);
}

.page2 hr {
  width: 60%;
  color: black;
}

.page2 h6 {
  color: white;
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;   
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 20px;
}

#linkToBlogs {
  color: rgb(56,120,145);
  float: left;
  padding-left: 20%;
}

