html, body {
  font-family: Visby-semibold;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: #040910;
}

@font-face {
  font-family: Visby-semibold;
  src: url(Fontspring-DEMO-visbycf-demibold.otf)
}
.container{
  height: 100%;
  width: 100%;
  margin-left: 15%;
 justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
.text{
    padding-top: 25%;
    font-size: 96px;
    font-family: Visby-semibold;
    padding-bottom: 0%;
    margin-bottom: 0%;
    text-align: center;
    color: aliceblue;
}
.dud{
  color: grey;
}


a {
    color: inherit;
    text-decoration: inherit;
}
/* ==================== */ 

#globalNav {
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    max-width: 2600px;
    padding: 45px 0;
    margin: auto;
    transition: 0.3s;
    top: 0;
    position: sticky;
    height: 20px;
    background-color: rgba(0,0,0,0);
    z-index: 10;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    font-family: Visby-semibold;
    font-weight: 400;
  }

#globalNav > div {
    margin: auto;
    max-width: 1700px;
}

#globalNavImg {
    height: 25px;
    opacity: 100%;
    transition: opacity 1.5s;
}

#globalNavImg:hover {
    opacity: 25%;
    transition: 5s;
    transition: opacity 1.5s;
}

#list-fade {
    opacity: 100%;
    transition: opacity 1.5s;
}

#list-fade:hover {
    opacity: 25%;
    transition: 5s;
    transition: opacity 1.5s;
}

#globalNavBtn  {
    background-color: #007aff;
    border-radius: 20px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0 15px;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
  }

  li:not(#globalNavLogo) {
    float: right;
  }
  
  li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 25px;
    cursor: pointer;
  }
  
  li a:hover:not(.active) {
    opacity: 0.7;
  }
  
  .active {
    opacity: 0.7;
  }


.container h1 {
    padding-top: 15%;
    font-size: 96px;
    font-family: 'Roboto Flex', sans-serif;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.container a {
    color: rgb(56,120,145);
}

.container h4 {
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 12%;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Roboto Flex', sans-serif;
}

.container {
    width: 60%;
    text-align: center;
    margin: auto;
}

.float1 {
    width: 48%;
    float: right;
    border: 2px solid rgb(56,120,145);
    border-radius: 10px;
    text-align: left;
    margin-bottom: 30px;
}
.float {
  width: 48%;
  float: left;
  border: 2px solid rgb(56,120,145);
  border-radius: 10px;
  text-align: left;
  padding: 0px;
  margin-bottom: 30px;
}

#right {
    width: 80%;
    height: auto;
    float: right;
    padding-right: 16%;
    padding-top: 1%;
}

.right {
  width: 80%;
  height: auto;
  float: right;
  padding-right: 16%;
}

.container button {
    background-color: transparent;
    border: 2px solid #387891;
    color: white;
    padding: 16px 32px;
    margin-top: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0;
    animation: fade 1s steps(40) 8s 1 normal both;
  }
  
  .container button:hover {background-color: rgb(56,120,145);}

  .page {
        margin-top: 50%;
  }

  .page p {
      font-size: 18px;
      color: white;
      font-family: 'Roboto Flex', sans-serif;
  }

  .page a {
    color: rgb(56,120,145);
  }

  .page h1 {
    font-family: 'Roboto Flex', sans-serif;    
    color: rgb(56,120,145);
    font-size: 80px;
    padding-left: 20%;
    padding-right: 5%;
  }

  .page h4 {
      font-family: 'Roboto Flex', sans-serif;    
      color: white;
      font-size: 40px;
      padding-left: 20%;
      padding-right: 5%;
  }

  .float-page {
    width: 50%;
    float: left;
    padding-top: 15%;
    margin-bottom: 15%;
  }

  .float-page1 {
    padding-top: 24%;
    width: 25%;
    float: right;
    padding-right: 10%;
    font-family: 'Rubik', sans-serif;
  }

  /* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin-top: 10px;
    border-right: 1px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 10px;
    transform: translateY(-25%);    
    padding-top: 5em;

}

#separate {
  width: 80%;
  margin-top: 10%;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(40) 2s 1 normal both,
             blinkTextCursor 500ms steps(30) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 16em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.page2 h2 {
  font-family: 'Roboto Flex', sans-serif;    
  color: rgb(56,120,145);
  font-size: 80px;
}

.page2 {
  position: absolute;
  top: 100%;
  color: white;
  font-family: Visby-semibold;
  padding-left: 5%;
  padding-right: 5%;
}

.page h5 {
  text-align: left;
  padding-top: 8px;
  padding-left: 20%;
  font-size: 24px;
}

.page2 p {
  color: grey;
  text-align: left;
  padding-left: 20%;
  padding-bottom: 20px;
}

.footer {
  position: absolute;
  top: 180%;
  width: 100%;
}

.footerText {
  color: rgb(180, 180, 180);
  font-size: 16px;  
  text-align: center;
  width: 100%;
}

.footerRule {
  height: 0.1px;
  background-color: white;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  width: 5px;
  height: 5px;
}

.avatar {
  border-radius: 50%;
  width: 100%;
  height: width;
  padding-bottom: 0px;
}

.innerfloat {
  float: left;
  width: 20%;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.innerfloat1 {
  float: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.innerfloat h1, .innerfloat1 h1 {
  font-size: 40px;
}

.firstP {
  margin-top: 30%;
  color: grey;
  text-align: left;
  border: solid 2px red;
  padding-left: 0%;
}

.float1 a, .float a {
    color: rgb(56,120,145);
}
    

.rightText {
  margin-top: 30%;
  padding-left: 0%;
}

@keyframes fade{
  from{opacity: 0;}
  to{opacity: 1;}
}
